<div class="categories-scroller">
  <div class="categories-list" nextPreviousScrollbar #list="nextPreviousScrollbar" [scrollUnit]="scrollUnit">
    <!-- Inject list of items which display-->
    <ng-content></ng-content>
  </div>
  <div class="scroll-button scroll-left">
    <button class="" *ngIf="list.isOverflow" [class.disable]="!list.canScrollStart" (click)="list.scroll(-1)">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
  </div>
  <div class="scroll-button scroll-right">
    <button class="scroll-right" *ngIf="list.isOverflow" [class.disable]="!list.canScrollEnd" (click)="list.scroll(1)">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </div>



</div>
