.list-with-scroll {
  display: flex;
  margin: 5px;
}

.list {
  flex-grow: 1;
  display: flex;
  overflow-x: scroll;
}

.list::-webkit-scrollbar {
  display: none;
}

.scroll-button,
.scroll-button:hover {
  min-width: 50px;
  font-size: 28px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  background-color: #3f51b5;
  color: #fff;
}

.disable,
.disable:hover {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  border: none;
}

.scroll-left {
  order: -1; /* To pevent ExpressionChangedAfterItHasBeenCheckedError */
}
